body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  padding: 0;
  margin: 0;
}
.love__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.love__title {
  color: black;
  font-size: 45px;
  font-family: 'Chewy', cursive;
  margin-bottom: 16px;
}

.love__text {
  color: #5e6264;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  width: 70%;
}

.love__input {
  height: 30px;
  margin-bottom: 20px;
  width: 200px;
}

.love__button {
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  padding: 8px 40px;
  background-color: #fe3f46;
}

.love__image {
  object-fit: contain;
  width: 100%;
}